<div class="list-group">
  {{#each model as |author|}}
    {{#link-to "authors.author" author class="list-group-item"}}{{author.name}}{{/link-to}}
  {{else}}
    <div class="list-group-item text-muted"><i>No authors found</i></div>
  {{/each}}
</div>