<div class="list-group">
  {{#each model as |author|}}
    <LinkTo @route="authors.author" @model={{author}} class="list-group-item">{{author.name}}</LinkTo>
  {{else}}
    <div class="list-group-item text-muted"><i>No authors found</i></div>
  {{/each}}
</div>