<div class="card">
  <h5 class="card-header">
    Add store
  </h5>

  <StoreForm
    @model={{model}}
    @onSave={{transition-to "stores.store"}}
    @onCancel={{transition-to "stores.index"}}
  />
</div>
