<div class="text-right mb-3">
  {{#link-to "stores.add" class="btn btn-outline-primary"}}Add{{/link-to}}
</div>

<div class="list-group">
  {{#each model as |store|}}
    {{#link-to "stores.store" store class="list-group-item"}}{{store.name}}{{/link-to}}
  {{else}}
    <div class="list-group-item text-muted"><i>No stores found</i></div>
  {{/each}}
</div>