<div class="text-right mb-3">
  <LinkTo @route="stores.add" class="btn btn-outline-primary">Add</LinkTo>
</div>

<div class="list-group">
  {{#each model as |store|}}
    <LinkTo @route="stores.store" @model={{store}} class="list-group-item">{{store.name}}</LinkTo>
  {{else}}
    <div class="list-group-item text-muted"><i>No stores found</i></div>
  {{/each}}
</div>