<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Onderdeel</th>
        <th>Titel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>